<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace="对应的接口文件路径"-->
<mapper namespace="com.museum.museumofworldstatues.mapper.BannerMapper">
    <!--    让字段匹配-->
    <resultMap id="bannerMap" type="com.museum.museumofworldstatues.entity.Banner">
        <!--        proerty:mybatic里的字段 column：数据库里的字段-->
        <result property="id" column="id"></result>
        <result property="imgUrl" column="img_url"></result>
        <result property="category" column="category"></result>
    </resultMap>
<!--    按照id删除轮播图-->
    <delete id="deleteById">
        delete from banner where id = #{id}
    </delete>
<!--    查询分类1的轮播图-->
    <select id="selectFirst" resultMap="bannerMap">
        select * from banner where category=1;
    </select>
    <!--    查询分类2的轮播图-->
    <select id="selectSecond" resultMap="bannerMap">
        select * from banner where category=2;
    </select>
    <!--    查询分类3的轮播图-->
    <select id="selectThird" resultMap="bannerMap">
        select * from banner where category=3;
    </select>
<!--    查询所有轮播图-->
    <select id="selectAll" resultMap="bannerMap">
        select * from banner;
    </select>
<!--    添加轮播图-->
    <insert id="addBanner">
        insert into banner values(null,#{imgUrl},#{category})
    </insert>

</mapper>