<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace="对应的接口文件路径"-->
<mapper namespace="com.museum.museumofworldstatues.mapper.UserMapper">
    <!--    让字段匹配-->
    <resultMap id="userMap" type="com.museum.museumofworldstatues.entity.User">
        <!--        proerty:mybatic里的字段 column：数据库里的字段-->
        <result property="id" column="id"></result>
        <result property="userName" column="user_name"></result>
        <result property="nickName" column="nick_name"></result>
        <result property="password" column="user_password"></result>
        <result property="email" column="email"></result>
        <result property="birthday" column="birthday"></result>
        <result property="isAdmin" column="is_admin"></result>
        <result property="imgUrl" column="img_url"></result>
        <result property="createTime" column="create_time"></result>
    </resultMap>
    <!--    添加用户信息-->
    <insert id="addUser">
        insert into users values(null,#{userName},#{nickName},1,#{password},#{email},0,#{birthday},0)
    </insert>
    <!--    修改用户身份-->
    <update id="changeAdmin">
        update users set is_admin=${flag} where id = #{id}
    </update>
    <!--    修改用户信息-->
    <update id="updateUser">
        update users set nick_name=#{nickName},user_password=#{password},email=#{email},
                         birthday=#{birthday},img_url=#{imgUrl} where user_name =#{userName}
    </update>
    <!--    删除用户信息-->
    <delete id="deleteById">
        delete from users where id = #{id}
    </delete>
    <!--    通过用户名查询用户名是否存在-->
    <select id="selectByName" resultMap="userMap">
        select * from users where user_name = #{userName}
    </select>
<!--    查询所有用户信息-->
    <select id="selectAll" resultMap="userMap">
        select * from users
    </select>

</mapper>