<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>管理员页面</title>
  <!--引入自定义主题-->
  <link rel="stylesheet" href="element-ui/index.css">
  <link rel="stylesheet" href="element-ui/fonts/element-icons.ttf">
  <link rel="stylesheet" href="element-ui/fonts/element-icons.woff">
  <style>
    body{
        margin: 0;
    }

    .el-header{
        background-color: #000000;
        color: #ffffff;
    }

    .el-footer{
        background-color: #303133;
    }

  </style>
</head>
<body>
  <div id="app">
    <el-container>
      <!--后台管理的页头-->
      <el-header height="100px">
        <span style="float: left; margin-top: 5px;"><img src="imagesAll/adminImages/logo.jpg" width="300px"></span>
        <span style="float: right; line-height: 100px; font-size: 30px">
          Welcome
          {{user.nickName}}
          <!--注销按钮-->
          <el-popover placement="top" width="160" v-model="visible">
            <p style="font-size: 15px; color: #000000">是否退出登录</p>
            <div style="text-align: right; margin: 0">
              <el-button type="info" size="mini" @click="visible = false">取消</el-button>
              <el-button type="primary" size="mini" @click="logout">确定</el-button>
            </div>
            <el-button slot="reference"><i class="el-icon-s-tools"></i></el-button>
          </el-popover>
        </span>
      </el-header>
      <el-container>
        <el-aside width="200px">
            <el-menu @select="handleSelect" default-active="1" class="el-menu-vertical-demo" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
              <el-menu-item index="1">
                <template slot="title">
                  <i class="el-icon-user-solid"></i>
                  <span>用户管理</span>
                </template>
              </el-menu-item>
              <el-menu-item index="2">
                <template slot="title">
                  <i class="el-icon-picture"></i>
                  <span>轮播图管理</span>
                </template>
              </el-menu-item>
              <el-submenu index="3">
                <template slot="title">
                  <i class="el-icon-star-on"></i>
                  <span>雕像管理</span>
                </template>
                <el-menu-item index="3">
                  <i class="el-icon-picture"></i>
                  雕像图片
                </el-menu-item>
                <el-menu-item index="4">
                  <i class="el-icon-tickets"></i>
                  雕像信息
                </el-menu-item>
              </el-submenu>
              <el-submenu index="5">
                <template slot="title">
                  <i class="el-icon-s-grid"></i>
                  <span>分类管理</span>
                </template>
                <el-menu-item index="5">
                  <i class="el-icon-map-location"></i>
                  国家
                </el-menu-item>
                <el-menu-item index="6">
                  <i class="el-icon-time"></i>
                  时代
                </el-menu-item>
              </el-submenu>
            </el-menu>
        </el-aside>
        <el-container>
          <el-main>
            <!--用户表格-->
            <el-table v-if="currentIndex==1" :data="userArr" style="width: 100%;">
              <el-table-column type="index" label="编号" width="100px" align="center"></el-table-column>
              <el-table-column prop="userName" label="用户名" width="100px" align="center"></el-table-column>
              <el-table-column prop="nickName" label="昵称" width="100px" align="center"></el-table-column>
              <el-table-column prop="email" label="邮箱" width="100px" align="center"></el-table-column>
              <el-table-column prop="birthday" label="生日" width="100px" align="center"></el-table-column>
              <el-table-column  label="头像"  width="200">
                <template slot-scope="scope">
                  <img :src="scope.row.imgUrl" width="100px" >
                </template>
              </el-table-column>
              <el-table-column prop="createTime" label="创建时间" width="100px" align="center"></el-table-column>
              <el-table-column label="管理员" width="120px" align="center">
                <template slot-scope="scope">
                  <el-switch v-model="scope.row.isAdmin==1?true:false"
                             @change="changeAdmin(scope.row)"></el-switch>
                </template>
              </el-table-column>
              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button
                          size="mini"
                          type="danger"
                          @click="deleteUser(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>

            <!--轮播图表格-->
            <el-table v-if="currentIndex==2" :data="bannerArr">
              <el-table-column type="index"  label="编号" width="100" align="center"></el-table-column>
              <el-table-column prop=""  label="分类编号" width="100" align="center"></el-table-column>
              <el-table-column  label="轮播图"  width="300">
                <template slot-scope="scope">
                  <img :src="scope.row.imgUrl" width="200px" >
                </template>
              </el-table-column>
              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deleteBanner(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>

            <!--雕像图片表格-->
            <el-table v-if="currentIndex==3" style="width: 100%;">
              <el-table-column type="index" label="编号" width="100" align="center"></el-table-column>
              <el-table-column prop="" label="名称" width="100px" align="center"></el-table-column>
              <el-table-column  label="图片"  width="200">
                <template slot-scope="scope">
                  <img :src="scope.row.imgUrl" width="100px" >
                </template>
              </el-table-column>
              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deleteBanner(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>

            <!--雕像信息表格-->
            <el-table v-if="currentIndex==4" :data="statuesInfo" style="width: 100%;">
              <el-table-column type="index" label="编号" width="100px" align="center"></el-table-column>
              <el-table-column prop="chineseName" label="名称" width="100px" align="center"></el-table-column>
              <el-table-column  label="封面图"  width="100px">
                <template slot-scope="scope">
                  <img :src="scope.row.imgUrl" width="100px" >
                </template>
              </el-table-column>
              <el-table-column prop="" label="国家" width="100px" align="center"></el-table-column>
              <el-table-column prop="" label="时期" width="100px" align="center"></el-table-column>
              <el-table-column prop="" label="地理位置" width="100px" align="center"></el-table-column>
              <el-table-column prop="" label="建造时间" width="100px" align="center"></el-table-column>
              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deleteBanner(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>

            <!--国家分类管理表格-->
            <el-table v-if="currentIndex==5" style="width: 100%;">
              <el-table-column type="index" label="编号" width="100px" align="center"></el-table-column>
              <el-table-column prop="" label="国家" width="100px" align="center"></el-table-column>
              <el-table-column prop="" label="名称" width="100px" align="center"></el-table-column>
              <el-table-column  label="封面图"  width="100px">
                <template slot-scope="scope">
                  <img :src="scope.row.imgUrl" width="100px" >
                </template>
              </el-table-column>

              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deleteBanner(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>

            <!--时代分类管理表格-->
            <el-table v-if="currentIndex==6" style="width: 100%;">
              <el-table-column type="index" label="编号" width="100px" align="center"></el-table-column>
              <el-table-column prop="" label="时代" width="100px" align="center"></el-table-column>
              <el-table-column prop="" label="名称" width="100px" align="center"></el-table-column>
              <el-table-column  label="封面图"  width="100px">
                <template slot-scope="scope">
                  <img :src="scope.row.imgUrl" width="100px" >
                </template>
              </el-table-column>
              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deleteBanner(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
          </el-main>

<!--          <el-footer>Footer</el-footer>-->
        </el-container>
      </el-container>
    </el-container>
  </div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--引入axios发送请求-->
<script src="axios.min.js"></script>
<script>
  let v = new Vue({
      el: '#app',
      data: function () {
        return {
            //变量
            visible: false,
            userArr:[],
            user:{},
            currentIndex:"1",
            bannerArr:[],
            statuesInfo:[]
        }
      },
      created(){
          this.loadUser()
          this.getCurrentUser()
          this.loadBanner()
          this.loadStatuesInfo()
      },
      methods:{
          //选择侧边栏加载内容
          handleSelect(key,keyPath){
              v.currentIndex = key
          },
          //加载用户信息
          loadUser(){
              axios.get("/selectUserList").then(function (response){
                  v.userArr = response.data
              })
          },
          //获取当前登录对象
          getCurrentUser(){
              axios.get("/currentUser").then(function (response){
                  v.user = response.data
              })
          },
          //退出登录
          logout(){
              axios.get("/logout").then(function (){
                  location.href='login.html'
              })
          },
        //删除用户信息
        deleteUser(index,user){
          this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            axios.get("/removeUser?id="+user.id).then(function () {
              v.$message({
                type: 'success',
                message: '删除成功!'
              });
              v.loadUser()//删除成功后重新加载列表信息
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            });
          });
        },
        //切换用户身份
        changeAdmin(user){
          axios.post("/changeUser",user).then(function () {
            v.loadUser()//修改成功后重新加载用户列表信息
          })
        },
          //加载轮播图信息
          loadBanner(){
              //发送请求
              //接收请求并把请求数据赋值给bannerArr变量
              axios.get("/selectBanner").then(function (response){
                  v.bannerArr = response.data
              })
          },
          //加载雕像信息
          loadStatuesInfo(){
              //发送请求
              //接收请求并把请求数据赋值给bannerArr变量
              axios.get("/selectStatuesInfo").then(function (response){
                  v.statuesInfo = response.data
              })
          },
      }
  })
</script>
</html>