<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>管理员页面</title>
  <!--引入自定义主题-->
  <link rel="stylesheet" href="element-ui/index.css">
  <link rel="stylesheet" href="element-ui/fonts/element-icons.ttf">
  <link rel="stylesheet" href="element-ui/fonts/element-icons.woff">
  <style>
    body{
        margin: 0;
    }

    .el-header{
        background-color: #000000;
        color: #ffffff;
    }

    .el-footer{
        background-color: #303133;
    }

    .demo-drawer__footer{
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        border-top: 1px solid #e8e8e8;
        padding: 10px 16px;
        text-align: center;
    }

    .avatar-uploader .el-upload {
        border: 1px dashed #d9d9d9;
        border-radius: 6px;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }
    .avatar-uploader .el-upload:hover {
        border-color: #409EFF;
    }
    .avatar-uploader-icon {
        font-size: 28px;
        color: #8c939d;
        width: 178px;
        height: 178px;
        line-height: 178px;
        text-align: center;
    }
    .avatar {
        width: 178px;
        height: 178px;
        display: block;
    }

  </style>
</head>
<body>
  <div id="app">
    <el-container>
      <!--后台管理的页头-->
      <el-header height="100px">
        <span style="float: left; margin-top: 5px;"><img src="imagesAll/adminImages/logo.jpg" width="300px"></span>
        <span style="float: right; line-height: 100px; font-size: 30px">
          Welcome
          {{user.nickName}}
          <!--注销按钮-->
          <el-popover placement="top" width="160" v-model="visible">
            <p style="font-size: 15px; color: #000000">是否退出登录</p>
            <div style="text-align: right; margin: 0">
              <el-button type="info" size="mini" @click="visible = false">取消</el-button>
              <el-button type="primary" size="mini" @click="logout">确定</el-button>
            </div>
            <el-button slot="reference"><i class="el-icon-s-tools"></i></el-button>
          </el-popover>
        </span>
      </el-header>
      <el-container>
        <el-aside width="200px">
            <el-menu @select="handleSelect" default-active="1" class="el-menu-vertical-demo" background-color="#545c64" text-color="#fff" active-text-color="#ffd04b">
              <el-menu-item index="1">
                <template slot="title">
                  <i class="el-icon-user-solid"></i>
                  <span>用户管理</span>
                </template>
              </el-menu-item>
              <el-menu-item index="2">
                <template slot="title">
                  <i class="el-icon-picture"></i>
                  <span>轮播图管理</span>
                </template>
              </el-menu-item>
              <el-submenu index="3">
                <template slot="title">
                  <i class="el-icon-star-on"></i>
                  <span>雕像管理</span>
                </template>
                <el-menu-item index="3">
                  <i class="el-icon-picture"></i>
                  雕像图片
                </el-menu-item>
                <el-menu-item index="4">
                  <i class="el-icon-tickets"></i>
                  雕像信息
                </el-menu-item>
              </el-submenu>
              <el-submenu index="5">
                <template slot="title">
                  <i class="el-icon-s-grid"></i>
                  <span>分类管理</span>
                </template>
                <el-menu-item index="5">
                  <i class="el-icon-map-location"></i>
                  国家
                </el-menu-item>
                <el-menu-item index="6">
                  <i class="el-icon-time"></i>
                  时代
                </el-menu-item>
              </el-submenu>
            </el-menu>
        </el-aside>
        <el-container>
          <el-main>
            <!--用户表格-->
            <el-table v-if="currentIndex==1" :data="userArr" style="width: 100%;">
              <el-table-column type="index" label="编号" width="100px" align="center"></el-table-column>
              <el-table-column prop="userName" label="用户名" width="100px" align="center"></el-table-column>
              <el-table-column prop="nickName" label="昵称" width="100px" align="center"></el-table-column>
              <el-table-column prop="email" label="邮箱" width="100px" align="center"></el-table-column>
              <el-table-column prop="birthday" label="生日" width="100px" align="center"></el-table-column>
              <el-table-column  label="头像"  width="200">
                <template slot-scope="scope">
                  <img :src="scope.row.imgUrl" width="100px" >
                </template>
              </el-table-column>
              <el-table-column prop="createTime" label="创建时间" width="100px" align="center"></el-table-column>
              <el-table-column label="管理员" width="120px" align="center">
                <template slot-scope="scope">
                  <el-switch v-model="scope.row.isAdmin==1?true:false"
                             @change="changeAdmin(scope.row)"></el-switch>
                </template>
              </el-table-column>
              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button
                          size="mini"
                          type="danger"
                          @click="deleteUser(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>

            <!--轮播图表格-->
            <el-table v-if="currentIndex==2" :data="bannerArr">
              <el-table-column type="index"  label="编号" width="100" align="center"></el-table-column>
              <el-table-column prop="category"  label="分类编号" width="100" align="center"></el-table-column>
              <el-table-column  label="轮播图"  width="300">
                <template slot-scope="scope">
                  <img :src="scope.row.imgUrl" width="200px" >
                </template>
              </el-table-column>
              <el-table-column label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deleteBanner(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
            <!--添加轮播图-->
            <div v-if="currentIndex==2" align="center" style="margin-top: 20px;">
              <el-button type="primary" @click="dialogBanner = true">添加轮播图</el-button>
            </div>
            <!--一定要修改ref-->
            <el-drawer
                    title="添加轮播图"
                    :before-close="handleCloseBanner"
                    :visible.sync="dialogBanner"
                    direction="rtl"
                    custom-class="demo-drawer"
                    ref="drawerBanner"
            >
              <div class="demo-drawer__content">
                <el-form>
                  <el-form-item label="分类" :label-width="formLabelWidthBanner">
                    <el-select v-model="banner.category" placeholder="请选择分类" style="width: 150px;">
                      <el-option v-for="item in bannerOption"
                                 :key="item.id"
                                 :label="item.category"
                                 :value="item.category">
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="轮播图片" style="margin-left: 40px;">
                    <el-upload
                            class="avatar-uploader"
                            action="http://localhost:8080/upload"
                            :show-file-list="false"
                            :on-success="handleBannerSuccess"
                            :before-upload="beforeUpload">
                      <img v-if="banner.imgUrl" :src="banner.imgUrl" class="avatar">
                      <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                  </el-form-item>
                </el-form>
                <div class="demo-drawer__footer">
                  <el-button @click="cancelFormBanner" style="min-width: 200px">取 消</el-button>
                  <!--一定要修改refs.xxx-->
                  <el-button style="min-width: 200px" type="success" @click="$refs.drawerBanner.closeDrawer()" :loading="loadingBanner">{{ loadingBanner ? '提交中 ...' : '确 定' }}</el-button>
                </div>
              </div>
            </el-drawer>


            <!--雕像图片表格-->
            <el-table v-if="currentIndex==3" style="width: 100%;" :data="statuesImagesArr">
              <el-table-column type="index" label="编号" width="100" align="center"></el-table-column>
              <el-table-column prop="chineseName" label="名称" width="100px" align="center"></el-table-column>
              <el-table-column  label="图片"  width="200">
                <template slot-scope="scope">
                  <img :src="scope.row.imgUrl" width="100px" >
                </template>
              </el-table-column>
              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deleteStatuesImages(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
            <!--添加雕像图-->
            <div v-if="currentIndex==3" align="center" style="margin-top: 20px;">
              <el-button type="primary" @click="dialogStatuesImages = true">添加雕像图</el-button>
            </div>
            <el-drawer
                    title="添加雕像图"
                    :before-close="handleCloseStatuesImages"
                    :visible.sync="dialogStatuesImages"
                    direction="rtl"
                    custom-class="demo-drawer"
                    ref="drawerStatuesImages"
            >
              <div class="demo-drawer__content">
                <el-form>
                  <el-form-item label="雕像名称" :label-width="formLabelWidthStatuesImages">
                    <el-select v-model="statuesImages.statueId" placeholder="请选择雕像" style="width: 150px;">
                      <el-option v-for="item in statuesDoArr"
                                 :key="item.id"
                                 :label="item.chineseName"
                                 :value="item.id">
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="上传图片" style="margin-left: 40px;">
                    <el-upload
                            class="avatar-uploader"
                            action="http://localhost:8080/upload"
                            :show-file-list="false"
                            :on-success="handleStatuesImagesSuccess"
                            :before-upload="beforeUpload">
                      <img v-if="statuesImages.imgUrl" :src="statuesImages.imgUrl" class="avatar">
                      <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                  </el-form-item>
                </el-form>
                <div class="demo-drawer__footer">
                  <el-button @click="cancelFormStatuesImages" style="min-width: 200px">取 消</el-button>
                  <!--一定要修改refs.xxx-->
                  <el-button style="min-width: 200px" type="success" @click="$refs.drawerStatuesImages.closeDrawer()" :loading="loadingStatuesImages">{{ loadingStatuesImages ? '提交中 ...' : '确 定' }}</el-button>
                </div>
              </div>
            </el-drawer>


            <!--雕像信息表格-->
            <el-table v-if="currentIndex==4" :data="statuesDoArr" style="width: 100%;">
              <el-table-column type="index" label="编号" width="100px" align="center"></el-table-column>
              <el-table-column prop="chineseName" label="中文名称" width="100px" align="center"></el-table-column>
              <el-table-column prop="foreignName" label="英文名称" width="100px" align="center"></el-table-column>
              <el-table-column  label="封面图"  width="100px">
                <template slot-scope="scope">
                  <img :src="scope.row.coverImg" width="100px" >
                </template>
              </el-table-column>
              <el-table-column prop="countryName" label="国家" width="100px" align="center"></el-table-column>
              <el-table-column prop="periodName" label="时期" width="100px" align="center"></el-table-column>
              <el-table-column prop="location" label="地理位置" width="100px" align="center"></el-table-column>
              <el-table-column prop="constructionTime" label="建造时间" width="100px" align="center"></el-table-column>
              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deleteStatuesInfo(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
            <!--添加雕像-->
            <div v-if="currentIndex==4" align="center" style="margin-top: 20px;">
              <el-button type="primary" @click="dialogStatuesInfo = true">添加雕像</el-button>
            </div>
            <el-drawer
                    title="添加雕像"
                    :before-close="handleCloseStatuesInfo"
                    :visible.sync="dialogStatuesInfo"
                    direction="rtl"
                    custom-class="demo-drawer"
                    ref="drawerStatuesInfo"
            >
              <div class="demo-drawer__content">
                <el-form :label-position="labelPosition">
                  <el-form-item label="国家" :label-width="formLabelWidthStatuesInfo">
                    <el-select v-model="statuesInfo.countryId" placeholder="请选择国家" style="width: 150px;">
                      <el-option v-for="item in countryArr"
                                 :key="item.id"
                                 :label="item.name"
                                 :value="item.id">
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="时代" :label-width="formLabelWidthStatuesInfo">
                    <el-select v-model="statuesInfo.periodId" placeholder="请选择时代" style="width: 150px;">
                      <el-option v-for="item in periodArr"
                                 :key="item.id"
                                 :label="item.name"
                                 :value="item.id">
                      </el-option>
                    </el-select>
                  </el-form-item>
                  <el-form-item label="雕像中文名称" style="margin-left: 40px">
                    <el-input v-model="statuesInfo.chineseName" style="width: 300px;"></el-input>
                  </el-form-item>
                  <el-form-item label="雕像英文名称" style="margin-left: 40px">
                    <el-input v-model="statuesInfo.foreignName" style="width: 300px;"></el-input>
                  </el-form-item>
                  <el-form-item label="地理位置" style="margin-left: 40px">
                    <el-input v-model="statuesInfo.location" style="width: 330px;"></el-input>
                  </el-form-item>
                  <el-form-item label="简介描述" style="margin-left: 40px">
                    <el-input type="textarea" v-model="statuesInfo.description"></el-input>
                  </el-form-item>
                  <el-form-item label="建造时间" style="margin-left: 40px">
                    <el-date-picker
                            v-model="statuesInfo.constructionTime"
                            type="date"
                            value-format="yyyy-MM-dd"
                            placeholder="选择日期">
                    </el-date-picker>
                  </el-form-item>
                  <el-form-item label="创作背景" style="margin-left: 40px">
                    <el-input type="textarea" v-model="statuesInfo.creationBackground"></el-input>
                  </el-form-item>
                  <el-form-item label="后世影响" style="margin-left: 40px">
                    <el-input type="textarea" v-model="statuesInfo.afterlifeInfluence"></el-input>
                  </el-form-item>
                  <el-form-item label="上传封面图片" style="margin-left: 40px;">
                    <el-upload
                            class="avatar-uploader"
                            action="http://localhost:8080/upload"
                            :show-file-list="false"
                            :on-success="handleStatuesInfoSuccess"
                            :before-upload="beforeUpload">
                      <img v-if="statuesInfo.coverImg" :src="statuesInfo.coverImg" class="avatar">
                      <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                    </el-upload>
                  </el-form-item>
                </el-form>
                <div class="demo-drawer__footer">
                  <el-button @click="cancelFormStatuesInfo" style="min-width: 200px">取 消</el-button>
                  <!--一定要修改refs.xxx-->
                  <el-button style="min-width: 200px" type="success" @click="$refs.drawerStatuesInfo.closeDrawer()" :loading="loadingStatuesInfo">{{ loadingStatuesInfo ? '提交中 ...' : '确 定' }}</el-button>
                </div>
              </div>
            </el-drawer>


            <!--国家分类管理表格-->
            <el-table v-if="currentIndex==5" style="width: 100%;" :data="countryArr">
              <el-table-column type="index" label="编号" width="100px" align="center"></el-table-column>
              <el-table-column prop="name" label="国家" width="100px" align="center"></el-table-column>
              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deleteCountry(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
            <!--添加国家-->
            <div v-if="currentIndex==5" align="center" style="margin-top: 20px;">
              <el-button type="primary" @click="dialogFormVisible = true">添加国家</el-button>
            </div>

            <el-dialog title="添加国家" :visible.sync="dialogFormVisible">
              <el-form :model="country">
                <el-form-item label="国家名称" :label-width="formLabelWidth">
                  <el-input v-model="country.name" autocomplete="off"></el-input>
                </el-form-item>
              </el-form>
              <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="addCountry();dialogFormVisible = false">确 定</el-button>
              </div>
            </el-dialog>

            <!--时代分类管理表格-->
            <el-table v-if="currentIndex==6" style="width: 100%;" :data="periodArr">
              <el-table-column type="index" label="编号" width="100px" align="center"></el-table-column>
              <el-table-column prop="name" label="时代" width="100px" align="center"></el-table-column>
              <el-table-column prop="address" label="操作" width="200px" align="center" >
                <template slot-scope="scope">
                  <el-button size="mini" type="danger" @click="deletePeriod(scope.$index, scope.row)">删除</el-button>
                </template>
              </el-table-column>
            </el-table>
            <!--添加时代-->
            <div v-if="currentIndex==6" align="center" style="margin-top: 20px;">
              <el-button type="primary" @click="dialogFormVisible = true">添加时代</el-button>
            </div>

            <el-dialog title="添加时代" :visible.sync="dialogFormVisible">
              <el-form :model="period">
                <el-form-item label="时代名称" :label-width="formLabelWidth">
                  <el-input v-model="period.name" autocomplete="off"></el-input>
                </el-form-item>
              </el-form>
              <div slot="footer" class="dialog-footer">
                <el-button @click="dialogFormVisible = false">取 消</el-button>
                <el-button type="primary" @click="addPeriod();dialogFormVisible = false">确 定</el-button>
              </div>
            </el-dialog>
          </el-main>

<!--          <el-footer>Footer</el-footer>-->
        </el-container>
      </el-container>
    </el-container>
  </div>
</body>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<!--引入axios发送请求-->
<script src="axios.min.js"></script>
<script>
  let v = new Vue({
      el: '#app',
      data: function () {
        return {
            labelPosition: 'right',
            //轮播图抽屉变量
            dialogBanner: false,
            loadingBanner: false,
            formLabelWidthBanner: '80px',
            timerBanner: null,
            //雕像图抽屉变量
            dialogStatuesImages: false,
            loadingStatuesImages: false,
            formLabelWidthStatuesImages: '80px',
            timerStatuesImages: null,
            //雕像信息抽屉变量
            dialogStatuesInfo: false,
            loadingStatuesInfo: false,
            formLabelWidthStatuesInfo: '80px',
            timerStatuesInfo: null,
            //变量
            visible: false,
            userArr:[],
            user:{},
            currentIndex:"1",
            bannerArr:[],
            statuesImagesArr:[],
            statuesDoArr:[],
            countryArr:[],
            periodArr:[],
            banner:{},
            statuesImages:{},
            statuesInfo:{},
            country:{},
            period:{},
            bannerOption:[{
                id:1,
                category: 1
              }, {
                id:2,
                category: 2
            }],
            //国家对话框
            dialogFormVisible: false,
            form: {

            },
            formLabelWidth: '120px'
        }
      },
      created(){
          this.loadUser()
          this.getCurrentUser()
          this.loadBanner()
          this.loadStatuesImages()
          this.loadStatuesDo()
          this.loadCountries()
          this.loadPeriod()
      },
      methods:{
          //选择侧边栏加载内容
          handleSelect(key,keyPath){
              v.currentIndex = key
          },
          //加载用户信息
          loadUser(){
              axios.get("/selectUserList").then(function (response){
                  v.userArr = response.data
              })
          },
          //获取当前登录对象
          getCurrentUser(){
              axios.get("/currentUser").then(function (response){
                  v.user = response.data
              })
          },
          //退出登录
          logout(){
              axios.get("/logout").then(function (){
                  location.href='login.html'
              })
          },
        //删除用户信息
        deleteUser(index,user){
          this.$confirm('此操作将永久删除该用户, 是否继续?', '提示', {
            confirmButtonText: '确定',
            cancelButtonText: '取消',
            type: 'warning'
          }).then(() => {
            axios.get("/removeUser?id="+user.id).then(function () {
              v.$message({
                type: 'success',
                message: '删除成功!'
              });
              v.loadUser()//删除成功后重新加载列表信息
            })
          }).catch(() => {
            this.$message({
              type: 'info',
              message: '已取消删除'
            });
          });
        },
          //删除轮播图信息
          deleteBanner(index,banner){
              this.$confirm('此操作将永久删除该轮播图, 是否继续?', '提示', {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  type: 'warning'
              }).then(() => {
                  axios.get("/removeBanner?id="+banner.id).then(function () {
                      v.$message({
                          type: 'success',
                          message: '删除成功!'
                      });
                      v.loadBanner()//删除成功后重新加载列表信息
                  })
              }).catch(() => {
                  this.$message({
                      type: 'info',
                      message: '已取消删除'
                  });
              });
          },
          //删除雕像图信息
          deleteStatuesImages(index,statuesImages){
              this.$confirm('此操作将永久删除该轮播图, 是否继续?', '提示', {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  type: 'warning'
              }).then(() => {
                  axios.get("/removeStatuesImages?id="+statuesImages.id).then(function () {
                      v.$message({
                          type: 'success',
                          message: '删除成功!'
                      });
                      v.loadStatuesImages()//删除成功后重新加载列表信息
                  })
              }).catch(() => {
                  this.$message({
                      type: 'info',
                      message: '已取消删除'
                  });
              });
          },
          //删除雕像信息
          deleteStatuesInfo(index,statuesInfo){
              this.$confirm('此操作将永久删除该雕像的信息, 是否继续?', '提示', {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  type: 'warning'
              }).then(() => {
                  axios.get("/removeStatuesInfo?id="+statuesInfo.id).then(function () {
                      v.$message({
                          type: 'success',
                          message: '删除成功!'
                      });
                      v.loadStatuesDo()//删除成功后重新加载列表信息
                  })
              }).catch(() => {
                  this.$message({
                      type: 'info',
                      message: '已取消删除'
                  });
              });
          },
          //删除国家信息
          deleteCountry(index,country){
              this.$confirm('此操作将永久删除该国家, 是否继续?', '提示', {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  type: 'warning'
              }).then(() => {
                  axios.get("/removeCountry?id="+country.id).then(function () {
                      v.$message({
                          type: 'success',
                          message: '删除成功!'
                      });
                      v.loadCountries()//删除成功后重新加载列表信息
                  })
              }).catch(() => {
                  this.$message({
                      type: 'info',
                      message: '已取消删除'
                  });
              });
          },
          //删除时代信息
          deletePeriod(index,period){
              this.$confirm('此操作将永久删除该时期, 是否继续?', '提示', {
                  confirmButtonText: '确定',
                  cancelButtonText: '取消',
                  type: 'warning'
              }).then(() => {
                  axios.get("/removePeriod?id="+period.id).then(function () {
                      v.$message({
                          type: 'success',
                          message: '删除成功!'
                      });
                      v.loadPeriod()//删除成功后重新加载列表信息
                  })
              }).catch(() => {
                  this.$message({
                      type: 'info',
                      message: '已取消删除'
                  });
              });
          },
        //切换用户身份
        changeAdmin(user){
          axios.post("/changeUser",user).then(function () {
            v.loadUser()//修改成功后重新加载用户列表信息
          })
        },
          //加载轮播图信息
          loadBanner(){
              //发送请求
              //接收请求并把请求数据赋值给bannerArr变量
              axios.get("/selectBanner").then(function (response){
                  v.bannerArr = response.data
              })
          },
          //加载所有雕像图片
          loadStatuesImages(){
              axios.get("/selectStatuesImages").then(function (response){
                  v.statuesImagesArr = response.data
              })
          },
          //加载所有雕像信息，包括国家和时代
          loadStatuesDo(){
              axios.get("/selectStatuesDo").then(function (response){
                  v.statuesDoArr = response.data
              })
          },
          //加载国家分类信息
          loadCountries(){
              axios.get("/selectCountries").then(function (response){
                  v.countryArr = response.data
              })
          },
          //加载时代分类信息
          loadPeriod(){
              axios.get("/selectPeriods").then(function (response){
                  v.periodArr = response.data
              })
          },
          //轮播图抽屉
          handleCloseBanner(done) {
              if (this.loadingBanner) {
                  return;
              }
              this.$confirm('确定要提交表单吗？')
                  .then(_ => {
                      this.loadingBanner = true;
                      this.timerBanner = setTimeout(() => {
                          done();
                          // 动画关闭需要一定的时间
                          setTimeout(() => {
                              this.loadingBanner = false;
                          }, 400);
                      }, 2000);
                      axios.post("/addBanner",v.banner).then(function (response){
                          if (v.banner.imgUrl == null){
                              v.$message.error("没有上传图片！")
                          } else {
                              setTimeout("v.$message.success(\"添加成功！\")",3000)
                          }
                      });
                  })
                  .catch(_ => {});
          },
          cancelFormBanner() {
              this.loadingBanner = false;
              this.dialogBanner = false;
              clearTimeout(this.timerBanner);
          },
          //上传轮播图片
          handleBannerSuccess(res, file) {
              v.banner.imgUrl = res
          },
          beforeUpload(file) {
              const isJPG = file.type === 'image/jpeg';
              const isLt2M = file.size / 1024 / 1024 < 2;

              if (!isJPG) {
                  this.$message.error('上传头像图片只能是 JPG 格式!');
              }
              if (!isLt2M) {
                  this.$message.error('上传头像图片大小不能超过 2MB!');
              }
              return isJPG && isLt2M;
          },
          //雕像图抽屉
          handleCloseStatuesImages(done) {
              if (this.loadingStatuesImages) {
                  return;
              }
              this.$confirm('确定要提交表单吗？')
                  .then(_ => {
                      this.loadingStatuesImages = true;
                      this.timerStatuesImages = setTimeout(() => {
                          done();
                          // 动画关闭需要一定的时间
                          setTimeout(() => {
                              this.loadingStatuesImages = false;
                          }, 400);
                      }, 2000);
                      axios.post("/addStatuesImages",v.statuesImages).then(function (response){});
                      setTimeout("v.$message.success(\"添加成功！\")",3000);
                  })
                  .catch(_ => {});
          },
          cancelFormStatuesImages() {
              this.loadingStatuesImages = false;
              this.dialogStatuesImages = false;
              clearTimeout(this.timerStatuesImages);
          },
          //上传雕像图片
          handleStatuesImagesSuccess(res, file) {
              v.statuesImages.imgUrl = res
          },
          //雕像抽屉
          handleCloseStatuesInfo(done) {
              if (this.loadingStatuesInfo) {
                  return;
              }
              this.$confirm('确定要提交表单吗？')
                  .then(_ => {
                      this.loadingStatuesInfo = true;
                      this.timerStatuesInfo = setTimeout(() => {
                          done();
                          // 动画关闭需要一定的时间
                          setTimeout(() => {
                              this.loadingStatuesInfo = false;
                          }, 400);
                      }, 2000);
                      axios.post("/addStatuesInfo",v.statuesInfo).then(function (response){});
                      setTimeout("v.$message.success(\"添加成功！\")",3000);
                  })
                  .catch(_ => {});
          },
          cancelFormStatuesInfo() {
              this.loadingStatuesInfo = false;
              this.dialogStatuesInfo = false;
              clearTimeout(this.timerStatuesInfo);
          },
          //上传雕像图片
          handleStatuesInfoSuccess(res, file) {
              v.statuesInfo.coverImg = res
          },
          //添加国家
          addCountry(){
              axios.post("addCountry", v.country).then(function (){
                  v.$message.success("添加成功！")
                  v.loadCountries()//修改成功后重新加载列表信息
              })
          },
          //添加时期
          addPeriod(){
              axios.post("addPeriod", v.period).then(function (){
                  v.$message.success("添加成功！")
                  v.loadPeriod()//修改成功后重新加载列表信息
              })
          },
      }
  })
</script>
</html>