<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入elementUI组件库的 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="homePage.css">
    <title>雕塑博物馆</title>
</head>
<body>
<div id="app">
    <el-container>
        <!--            头部-->
        <el-header style="padding: 0">
            <el-row>
                <el-col span="3">
                    <a href="./personal.html">
                        <img src="./imgs/logo.jpg" style="width: 100%;height: 60px">
                    </a>
                </el-col>
                <el-col span="21">
                    <el-menu
                            :default-active="activeIndex1"
                            class="el-menu-demo"
                            mode="horizontal"
                            @select="handleSelect"
                            background-color="rgba(0,0,0,0.8)"
                            text-color="#fff"
                            active-text-color="#ffd04b">
                        <el-menu-item index="1">首页</el-menu-item>
                        <el-submenu index="2">
                            <template slot="title">参观服务</template>
                            <el-submenu index="2-1">
                                <template slot="title">网上订票</template>
                                <el-menu-item index="2-1-1">开放时间</el-menu-item>
                                <el-menu-item index="2-1-2">在线预约</el-menu-item>
                                <el-menu-item index="2-1-3">餐饮服务</el-menu-item>
                            </el-submenu>
                            <el-menu-item index="2-2">参观须知</el-menu-item>
                            <el-menu-item index="2-3">交通信息</el-menu-item>
                        </el-submenu>
                        <el-submenu index="3">
                            <template slot="title">社会教育</template>
                            <el-menu-item index="3-1">活动资讯</el-menu-item>
                            <el-menu-item index="3-2">活动预约</el-menu-item>
                            <el-menu-item index="3-3">教育资源</el-menu-item>
                        </el-submenu>
                        <el-submenu index="4">
                            <template slot="title">资讯公告</template>
                            <el-menu-item index="4-1">新闻资讯</el-menu-item>
                            <el-menu-item index="4-2">文明宣传</el-menu-item>
                            <el-menu-item index="4-3">数字文创</el-menu-item>
                            <el-menu-item index="4-4">示范区创建</el-menu-item>
                            <el-menu-item index="4-5">数字资源</el-menu-item>
                        </el-submenu>
                        <el-menu-item index="5">雕塑典藏</el-menu-item>
                        <el-submenu index="6">
                            <template slot="title">展览陈列</template>
                            <el-menu-item index="6-1">临时展览</el-menu-item>
                            <el-menu-item index="6-2">常设展览</el-menu-item>
                            <el-menu-item index="6-3">虚拟展厅</el-menu-item>
                        </el-submenu>
                        <el-submenu index="7">
                            <template slot="title">文化遗产</template>
                            <el-menu-item index="7-1">考古发现</el-menu-item>
                            <el-menu-item index="7-2">考古大事记</el-menu-item>
                        </el-submenu>
                        <el-submenu index="8">
                            <template slot="title">学术研究</template>
                            <el-menu-item index="8-1">雕塑研究文章</el-menu-item>
                            <el-menu-item index="8-2">出版物</el-menu-item>
                        </el-submenu>

                        <el-menu-item index="9"><a href="./introduceDetail.html" style="text-decoration: none">文创精品</a></el-menu-item>
                        <el-submenu index="10">
                            <template slot="title">简体中文</template>
                            <el-menu-item index="8-1">简体中文</el-menu-item>
                            <el-menu-item index="8-2">English</el-menu-item>
                        </el-submenu>
                        <el-input placeholder="请输入搜索的关键字" v-model="wd" style="width: 230px;margin-top: 10px;
                            background-color: #7f7f7f">
                            <el-button slot="append" icon="el-icon-search" @click="f()"></el-button>
                        </el-input>
                    </el-menu>
                </el-col>
            </el-row>
        </el-header>
        <!--            主体内容-->
        <el-main style="padding: 0">
<!--            轮播图-->
            <el-carousel height="635px">
                <el-carousel-item v-for="b in bannerArrFirst">
                    <img :src="b.imgUrl" width="100%" alt="">
                </el-carousel-item>
            </el-carousel>
<!--            <img src="./imgs/banner1.jpg" style=" width: 100%;height: 650px">-->
            <!--                博物院介绍-->
            <el-row style="margin: 10px 70px">
                <el-col span="7">
                    <img class="introduce" src="./imgs/001.jpg" style="width: 100%">
                </el-col>
                <el-col span="17">
                    <el-card id="card" style="background-color: #a68049">
                        <p style="text-indent: 2em">
                            我们是一个致力于展示和保护人类文化遗产的博物馆。无论您是对历史、艺术、科学还是文化感兴趣，我们都将为您带来一次令人难忘的旅程。
                        </p>
                        <p style="text-indent: 2em">
                            作为一家世界级的博物馆，我们拥有丰富而多样化的收藏品。您将能够欣赏到来自各个时期和地区的珍贵文物。我们展示的物品涵盖了古代文明的瑰宝、艺术大师的杰作、科学发现的里程碑以及当代文化的代表作品。
                            除了展览外，我们还定期举办丰富多样的活动和教育项目。您可以参加导览讲解、工作坊、讲座等活动，深入了解各个领域的知识和技能。
                        </p>
                        <p style="text-indent: 2em">
                            我们博物馆致力于使用最先进的技术手段，并保持与其他博物馆和文化机构的紧密合作。我们的目标是通过数字化展览、互动体验和全球合作，将文化遗产传播给更广泛的观众，促进跨文化交流和理解。
                            无论您是学者、艺术爱好者还是普通观众，我们相信您在我们的世界博物馆中都能够找到心灵的滋养和启发。感谢您的光临，让我们一起探索人类的宝藏吧！
                        </p>
                    </el-card>
                </el-col>
            </el-row>
            <!--                预约服务-->
            <el-row gutter="15" style="margin: 10px 60px">
                <el-col span="17" >
                    <el-card id="service" style="background-color: #376a5d">
                        <h2 style="color: white">预约服务</h2>
                        <p>1、门票限选定参观日当日使用，入园、综合馆、雕塑馆、青铜馆、修复馆各使用一次</p>
                        <p>2、普通票、学生票请在博物院微信公众号购买，游园票、免票请在售票窗口办理</p>
                        <p>3、餐饮服务请提前预约</p>
                    </el-card>
                </el-col>
                <el-col span="7" id="link" style="padding-right: 0">
                    <img src="./imgs/004.png" style="height: 256px;width: 395px" alt="">
                </el-col>
            </el-row>
            <!--                新闻资讯-->
            <el-row style="margin: 10px 70px">
                <el-col span="13">
                    <el-card id="news">
                        <h2>新闻资讯</h2>
                        <h3>2023.06.15</h3>
                        <p>世界博物院博览会现场：发掘好、保护好、研究好这笔丰厚的历史文化遗产</p>
                        <h3>2023.07.25</h3>
                        <p>亮相《国际宝藏》后，博物院还要续写新的传奇</p>
                    </el-card>
                </el-col>
                <el-col span="4">
                    <el-carousel height="256px" width="210px">
                        <el-carousel-item v-for="b in bannerArrThird">
                            <img :src="b.imgUrl" width="100%">
                        </el-carousel-item>
                    </el-carousel>
<!--                    <img style="width: 210px;height: 256px;z-index: 5" src="./imgs/002.jpg">-->
                </el-col>
                <el-col span="7" >
                        <img src="./imgs/003.png" style="width: 405px;height: 256px;" alt="">
                </el-col>
            </el-row>
            <!--                精品典藏-->
            <a href="fineCollection.html" style="text-decoration: none;color: black;">
                <h2 style="text-align: center">精品典藏</h2>
            </a>
            <el-row gutter="20" style="margin: 10px 60px">
                <div>
                    <el-col span="6" >
                        <el-card >
                            <img src="./imgs/005.jpg" style="width: 100%;height: 350px" alt="">
                        </el-card>
                    </el-col>
                    <el-col span="6">
                        <el-card>
                            <img src="./imgs/006.jpg" style="width: 100%;height: 350px" alt="">
                        </el-card>
                    </el-col>
                    <el-col span="6">
                        <el-card>
                            <img src="./imgs/007.jpg" style="width: 100%;height: 350px" alt="">
                        </el-card>
                    </el-col>
                    <el-col span="6">
                        <el-card>
                            <img src="./imgs/008.png" style="width: 100%;height: 350px" alt="">
                        </el-card>
                    </el-col>
                </div>
            </el-row>
        </el-main>
        <el-footer style="background-color: #000000;height: 280px;padding: 50px 0">
            <div class="center" style="text-align: center;color: #666">
                <el-row id="foot">
                    <el-col span="8">
                        <img src="imgs/logo.jpg" style="width: 180px;height: 60px" alt="">
                        <p>世界雕像就看博物院</p>
                        <p>雕像展览网络社区平台</p>
                        <p>全球著名文物雕像展览会</p>
                    </el-col>
                    <el-col span="8">
                        <el-row id="foot_center">
                            <el-col span="8">
                                <h3>关于我们</h3>
                                <p>关于我们</p><p>学术研究</p>
                                <p>社会教育</p><p>分类信息</p>
                            </el-col>
                            <el-col span="8">
                                <h3>支持与服务</h3>
                                <p>联系我们</p><p>广告投放</p>
                                <p>用户协议</p><p>友情链接</p>
                            </el-col>
                            <el-col span="8">
                                <h3>底部导航</h3>
                                <p>博物院地图</p>
                                <p>搜索收藏</p>
                                <p>文创精品</p>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col span="8">
                        <div style="font-size: 58px;margin-top: 30px">
                            <span style="color: orange">世界</span><span style="color: #666666">博物院</span>
                        </div>
                        <p>雕像展览网络社区平台</p>
                    </el-col>
                </el-row>
            </div>

        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="axios.min.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function() {
            return {
                activeIndex: '1',
                bannerArrFirst:[],
                bannerArrThird:[],
                wd:''
            }
        },
        created(){
            this.loadBannerFirst()
            this.loadBannerThird()
        },
        methods:{
            f(){
              location.href='introduceDetail.html'
            },
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            },
            //加载轮播图信息
            loadBannerFirst(){
                //发送请求
                //接收请求并把请求数据赋值给bannerArr变量
                axios.get("/selectBannerFirst").then(function (response) {
                    v.bannerArrFirst = response.data
                })
            },
            loadBannerThird(){
                //发送请求
                //接收请求并把请求数据赋值给bannerArr变量
                axios.get("/selectBannerThird").then(function (response) {
                    v.bannerArrThird = response.data
                })
            },
            // 根据关键字搜索内容
            selectStatuesInfoByWd(){
                if (v.wd==''){
                    location.reload();//刷新页面
                }else{
                    location.href='introduceDetail.html?wd='+v.wd
                }
            }
        }
    })
</script>
</html>

