body{
    margin: 0;
}
/*首页轮播图*/
.banner {
}
/*博物院介绍轮播图*/
.introduce,#link{
    width: 380px;
    height: 256px;
}
/*博物院介绍卡片*/
#card,#service {
    height: 256px;
}
/*预约服务*/

/*新闻资讯*/
#news {
    width: 100%;
    height: 256px;
    background-color: #a58048;
}
a>h2:hover{
    color: #b9cdc9;
}

/*底部信息*/
#foot p:hover {
    color: #ffffff;
}

/*精品收藏*/
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}
.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}
.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}