<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- 引入elementUI组件库的 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <style>
        body{
            margin: 0;
            background-color: rgb(241,242,243);
        }
        .center{
            width: 1200px;
            margin: 0 auto;
        }
        #foot_center h3{
            color: white;
        }
        #foot_center p{
            margin: 0;
        }
    </style>
</head>
<body>
<div id="app">
    <el-container>
        <el-header height="80px" style="background-color: white">
            <div class="center">
                <el-row gutter="20">
                    <el-col span="6">
                        <img src="imgs/icon.png" width="196" height="65" alt="">
                    </el-col>
                    <el-col span="10">
                        <el-menu mode="horizontal" active-text-color="orange">
                            <el-menu-item index="0">首页</el-menu-item>
                            <el-menu-item index="1">食谱</el-menu-item>
                            <el-menu-item index="2">视频</el-menu-item>
                            <el-menu-item index="3">咨询</el-menu-item>
                        </el-menu>
                    </el-col>
                    <el-col span="6">
                        <el-input placeholder="请输入搜索的关键字" style="margin-top:15px">
                            <el-button slot="append" icon="el-icon-search"></el-button>
                        </el-input>
                    </el-col>
                    <el-col span="2">
                        <el-popover
                                placement="top-start"
                                title="欢迎来到烘焙坊!"
                                width="200"
                                trigger="hover">
                            <div slot="reference">
                                <i class="el-icon-user" style="font-size: 30px;position: relative;top: 20px"></i>
                            </div>
                            <el-button type="info">注册</el-button>
                            <el-button style="background-color: orange">登录</el-button>
                        </el-popover>
                    </el-col>
                </el-row>
            </div>
        </el-header>
        <el-main class="center">
            <!--      轮播图-->
            <el-carousel height="375px">
                <el-carousel-item>
                    <img src="imgs/banner1.jpg" width="100%" alt="">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="imgs/banner2.jpg" width="100%" alt="">
                </el-carousel-item>
                <el-carousel-item>
                    <img src="imgs/banner3.jpg" width="100%" alt="">
                </el-carousel-item>
            </el-carousel>
            <!--烘焙食谱-->
            <el-row style="background-color: white">
                <el-col span="3">
                    <p style="font-size: 28px;line-height: 65px;margin: 0">烘焙食谱</p>
                </el-col>
                <el-col span="21">
                    <el-menu mode="horizontal" active-text-color="orange">
                        <el-menu-item index="0">全部</el-menu-item>
                        <el-menu-item index="1">面包</el-menu-item>
                        <el-menu-item index="2">零食</el-menu-item>
                        <el-menu-item index="3">家常菜</el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
            <!--食品列表-->
            <el-row gutter="20">
                <el-col span="6" v-for="item in 4">
                    <el-card style="margin: 10px 0">
                        <img src="imgs/a.jpg" width="100%" height="144px" alt="">
                        <p style="height: 40px">家常面包</p>
                        <el-row gutter="20">
                            <el-col span="4">
                                <el-avatar size="small" src="imgs/head.jpg"></el-avatar>
                            </el-col>
                            <el-col span="10">汤姆</el-col>
                            <el-col span="10">
                                <span style="font-size: 12px;color: #ccc;float: right">面包</span>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>
            <div style="text-align: center;margin-bottom: 20px">
                <el-button>点击查看更多食谱</el-button>
            </div>
            <!--烘焙视频-->
            <el-row style="background-color: white">
                <el-col span="3">
                    <p style="font-size: 28px;line-height: 65px;margin: 0">烘焙视频</p>
                </el-col>
                <el-col span="21">
                    <el-menu mode="horizontal" active-text-color="orange">
                        <el-menu-item index="0">全部</el-menu-item>
                        <el-menu-item index="1">面包教学</el-menu-item>
                        <el-menu-item index="2">零食鉴赏</el-menu-item>
                        <el-menu-item index="3">家常菜教程</el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
            <!--视频列表-->
            <el-row gutter="20">
                <el-col span="6" v-for="item in 4">
                    <el-card style="margin: 10px 0">
                        <img src="imgs/a.jpg" width="100%" height="144px" alt="">
                        <p style="height: 40px">家常面包</p>
                        <el-row gutter="20">
                            <el-col span="4">
                                <el-avatar size="small" src="imgs/head.jpg"></el-avatar>
                            </el-col>
                            <el-col span="10">汤姆</el-col>
                            <el-col span="10">
                                <span style="font-size: 12px;color: #ccc;float: right">面包</span>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>
            <div style="text-align: center;margin-bottom: 20px">
                <el-button>点击查看更多视频</el-button>
            </div>
            <!--行业咨询-->
            <el-row style="background-color: white">
                <el-col span="3">
                    <p style="font-size: 28px;line-height: 65px;margin: 0">行业咨询</p>
                </el-col>
                <el-col span="21">
                    <el-menu mode="horizontal" active-text-color="orange">
                        <el-menu-item index="0">全部</el-menu-item>
                        <el-menu-item index="1">美食咨询</el-menu-item>
                        <el-menu-item index="2">店家咨询</el-menu-item>
                    </el-menu>
                </el-col>
            </el-row>
            <!--咨询列表-->
            <el-row gutter="20">
                <el-col span="6" v-for="item in 4">
                    <el-card style="margin: 10px 0">
                        <img src="imgs/a.jpg" width="100%" height="144px" alt="">
                        <p style="height: 40px">家常面包</p>
                        <el-row gutter="20">
                            <el-col span="4">
                                <el-avatar size="small" src="imgs/head.jpg"></el-avatar>
                            </el-col>
                            <el-col span="10">汤姆</el-col>
                            <el-col span="10">
                                <span style="font-size: 12px;color: #ccc;float: right">面包</span>
                            </el-col>
                        </el-row>
                    </el-card>
                </el-col>
            </el-row>
            <div style="text-align: center;margin-bottom: 20px">
                <el-button>点击查看更多咨询</el-button>
            </div>
        </el-main>
        <el-footer style="background-color: #2f3234;height: 280px;padding: 50px 0">
            <div class="center" style="text-align: center;color: #666">
                <el-row>
                    <el-col span="8">
                        <img src="imgs/icon.png" alt="">
                        <p>教程灵感就看烘焙坊</p>
                        <p>烘焙行业网络社区平台</p>
                        <p>全国百城上千个职位等你来</p>
                    </el-col>
                    <el-col span="8">
                        <el-row id="foot_center">
                            <el-col span="8">
                                <h3>关于我们</h3>
                                <p>关于我们</p><p>烘焙学院</p>
                                <p>烘焙食谱</p><p>分类信息</p>
                                <p>求职招聘</p><p>社区交流</p>
                            </el-col>
                            <el-col span="8">
                                <h3>支持与服务</h3>
                                <p>联系我们</p><p>广告投放</p>
                                <p>用户协议</p><p>友情链接</p>
                                <p>在线反馈</p><p>我发投稿</p>
                            </el-col>
                            <el-col span="8">
                                <h3>底部导航</h3>
                                <p>Archiver</p>
                                <p>手机版</p>
                                <p>小黑屋</p>
                            </el-col>
                        </el-row>
                    </el-col>
                    <el-col span="8">
                        <div style="font-size: 58px;margin-top: 30px">
                            <span style="color: orange">烘焙</span><span style="color: #666666">坊</span>
                        </div>
                        <p>烘焙坊行业网络社区平台</p>
                    </el-col>
                </el-row>
            </div>

        </el-footer>
    </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    let v = new Vue({
        el: '#app',
        data: function() {
            return {
                //变量
            }
        },
        created(){

        },
    })
</script>
</html>

