<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入elementUI组件库的 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>雕塑详细介绍</title>
    <style>
        body{
            margin: 0;
            background-color: rgb(260, 260, 260);
        }
    </style>
<body>
<div id="app">
<el-container>
    <!--    维纳斯介绍-->
    <el-table v-if="currentIndex==1">>
    <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
    <el-main>
        <div id="a" style="height: 400px;width: 2000px">
            <div class="a1" style="width: 1000px;float: left">
                <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                <p style="width: 900px">
                    在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                </p>
            </div>
            <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/维纳斯/a1.jpg" style="height: 400px">
            </span>
        </div>
        <hr>
        <div style="height:400px;width:2000px">
            <div class="a2" style="width: 1000px;float: left">
                <h3>起源</h3>
                <p>
                    维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                    她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                    因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                    同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                    维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                    因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                </p>
            </div>
            <span style="width: 1000px;float: right">
        <img src="introduceImages/维纳斯/a2.jpg" style="height: 400px">
    </span>
        </div>
        <hr>
    </el-main>
    </el-table>
<!--    沉思者介绍-->
    <el-table v-if="currentIndex==2">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="b" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/沉思者/b1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/沉思者/b2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    米开朗基罗-->
    <el-table v-if="currentIndex==3">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="c" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/米开朗基罗/c1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/米开朗基罗/c2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    马利中庭-->
    <el-table v-if="currentIndex==4">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="d" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/马利中庭/d1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/马利中庭/d3.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    胜利女神-->
    <el-table v-if="currentIndex==5">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="e" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/胜利女神/e1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/胜利女神/e2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    雅典娜-->
    <el-table v-if="currentIndex==6">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="f" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/雅典娜/f1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/雅典娜/f2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    阿瑞斯-->
    <el-table v-if="currentIndex==7">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="g" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/阿瑞斯/j2.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/阿瑞斯/j1.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    狄安娜-->
    <el-table v-if="currentIndex==8">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="h" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/狄安娜/h1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    宙斯-->
    <el-table v-if="currentIndex==9">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="i" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/宙斯/i1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/宙斯/i2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    阿佛洛狄忒-->
    <el-table v-if="currentIndex==10">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="j" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/阿佛洛狄忒/k1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/阿佛洛狄忒/k2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
            <hr>
        </el-main>
    </el-table>
<!--    波塞冬-->
    <el-table v-if="currentIndex==11">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="k" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/波塞冬/l1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/波塞冬/l2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    德墨忒尔-->
    <el-table v-if="currentIndex==12">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="l" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/德墨忒尔/m1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/德墨忒尔/m2.JPG" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    赫尔墨斯-->
    <el-table v-if="currentIndex==13">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="m" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/赫尔墨斯/n1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/赫尔墨斯/n2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    赫拉-->
    <el-table v-if="currentIndex==14">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="n" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/赫拉/o1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/赫拉/o2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    狮身人面像-->
    <el-table v-if="currentIndex==15">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="o" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/狮身人面像/q1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/狮身人面像/q2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    缪斯-->
    <el-table v-if="currentIndex==16">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="p" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/缪斯/r1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/缪斯/r2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    大卫-->
    <el-table v-if="currentIndex==17">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="q" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/大卫/p1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/大卫/p2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    夫妇像-->
    <el-table v-if="currentIndex==18">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="r" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/夫妇像/s1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/夫妇像/s2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    掷铁饼者-->
    <el-table v-if="currentIndex==19">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="s" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/掷铁饼者/t1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/掷铁饼者/t2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
<!--    爱神与普西莎-->
    <el-table v-if="currentIndex==20">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="t" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/爱神与普西莎/f1.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/爱神与普西莎/f2.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
    <el-footer>Footer</el-footer>
</el-container>
</div>
</body>
<script>
    let v = new Vue({
        el: '#app',
        data() {
            return {
                user:{},
                userArr:[],
                bannerArr:[],
                contentArr:[],
            }
        },
        created(){
            this.loadBanner()
        },
        methods:{
            handleDelete(index, row) {
                console.log(index, row);
            },
            handleSelect(key,keyPath){
                //key就是我们点击菜单栏时的index值
                v.currentIndex = key
            },
        }
    })
</script>
</html>