<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- 引入elementUI组件库的 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <title>雕塑详细介绍</title>
    <style>
        body{
            margin: 0;
            background-color: rgb(260, 260, 260);
        }
    </style>
<body>
<div id="app">
<el-container>
<!--    维纳斯介绍-->
    <el-table v-if="currentIndex==1":data="userArr">>
    <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
    <el-main>
        <div id="a" style="height: 400px;width: 2000px">
            <div class="a1" style="width: 1000px;float: left">
                <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                <p style="width: 900px">
                    在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                </p>
            </div>
            <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/a.jpg" style="height: 400px">
            </span>
        </div>
        <hr>
        <div style="height:400px;width:2000px">
            <div class="a2" style="width: 1000px;float: left">
                <h3>起源</h3>
                <p>
                    维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                    她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                    因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                    同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                    维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                    因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                </p>
            </div>
            <span style="width: 1000px;float: right">
        <img src="introduceImages/a.jpg" style="height: 400px">
    </span>
        </div>
        <hr>
        <div style="height:400px;width:2000px">
            <div class="a2" style="width: 1000px;float: left">
                <h3>后期传说</h3>
                <p>
                    有关她的传说，屡次出现在历代文学家的作品里，其中最令人感动的，是莎翁为她撰写的一首长诗。诗内描述维纳斯的恋爱故事。
                    据说，古希腊美男子阿多尼斯，身高九尺（190cm以上），如花一般俊美精致的五官，令世间所有人与物，在他面前都为之失色；
                    但他对恋爱没有丝毫兴趣，只喜欢驰骋于山林之间打猎。他是一个每年死而复生，永远年轻容颜不老的植物神，他与年历有深厚的联系。
                    他是一个受妇女崇拜的神，从莱斯瓦斯的莎孚公元前600年左右的诗歌残片可以看出当时莎孚周围的女孩崇拜临死的阿多尼斯。
                    他的化身是秋牡丹花。也有说其化身是银莲花。在古希腊神话里，玫瑰是凝聚着美神和植物神阿多尼斯的容颜，洋溢着爱神和美神维纳斯的津血而变成的。
                    阿多尼斯也是西方国家“花样美男”最早的出处，维纳斯和阿多尼斯的故事也体现了普通民众帅哥配美女的美好愿望。
                    一天，维纳斯偶然碰到身高九尺的阿多尼斯，一见倾心，便招呼他，希望和他谈一会；但阿多尼斯不愿接近异性，一口便拒绝了维纳斯的好意。
                    维纳斯只有用法力控制了他的行动，向他倾诉恋爱的奇妙，但阿多尼斯始终不为所动，更显出急欲摆脱她的神色。维纳斯用尽一切甜言蜜语，且愿意给予很多条件，
                    阿多尼斯最后用轻视的眼神望着爱神，令她大受刺激，晕倒地上。 阿多尼斯有点内疚，希望得到她的原谅，故此耐心等候维纳斯苏醒。
                    维纳斯醒来后，继续尽力说服阿多尼斯，但依然受到拒绝。爱神突然有个预感，阿多尼斯会遭遇不测，奉劝他不要冒险去打猎，让她在他的身边，保护他的安全；
                    但阿多尼斯并不相信，结果他真的于翌晨打猎时，被箭猪咬死。维纳斯赶到时，见爱郎已死，不禁悲恸欲绝。
                </p>
            </div>
            <span style="width: 1000px;float: right">
        <img src="introduceImages/a.jpg" style="height: 400px">
    </span>
        </div>
        <hr>
    </el-main>
    </el-table>
<!--    沉思者介绍-->
    <el-table v-if="currentIndex==2":data="bannerArr">
        <el-header><p style="text-align: center;font-size: 25px">该雕塑位于法国巴黎市中心的塞纳河北岸（右岸）的卢浮宫内</p></el-header>
        <el-main>
            <div id="b" style="height: 400px;width: 2000px">
                <div class="a1" style="width: 1000px;float: left">
                    <h3 style="margin-top: auto">《阿尔勒的维纳斯》在前，《米洛的维纳斯》在后</h3>
                    <p style="width: 900px">
                        在《米洛的维纳斯》出土前，体现古希腊理想美的作品是《阿尔勒的维纳斯》，这件作品在1651年出土于法国阿尔勒古罗马剧场遗址。与《米洛的维纳斯》一样，《阿尔勒的维纳斯》也以其出土地点命名。其出土之时正值路易十四在位期间，太阳王对在法国发现这一古代杰作兴奋不已。当时，人们对她到底是维纳斯还是其他女神也很纠结。而太阳王则认定她是美神维纳斯，让法国古典雕塑家弗朗索瓦·吉拉登（Francois Girardon）进行修复，并给她配上美神维纳斯的标准属性元素——苹果与镜子柄。苹果代表的是特洛伊王子帕里斯献给他选中的最美女神的金苹果。
                    </p>
                </div>
                <span class="wns" style="width: 1000px;float: right">
                <img src="introduceImages/c.jpg" style="height: 400px">
            </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>起源</h3>
                    <p>
                        维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。
                        她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。
                        因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。
                        同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。
                        维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。
                        因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/c.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
            <div style="height:400px;width:2000px">
                <div class="a2" style="width: 1000px;float: left">
                    <h3>后期传说</h3>
                    <p>
                        有关她的传说，屡次出现在历代文学家的作品里，其中最令人感动的，是莎翁为她撰写的一首长诗。诗内描述维纳斯的恋爱故事。
                        据说，古希腊美男子阿多尼斯，身高九尺（190cm以上），如花一般俊美精致的五官，令世间所有人与物，在他面前都为之失色；
                        但他对恋爱没有丝毫兴趣，只喜欢驰骋于山林之间打猎。他是一个每年死而复生，永远年轻容颜不老的植物神，他与年历有深厚的联系。
                        他是一个受妇女崇拜的神，从莱斯瓦斯的莎孚公元前600年左右的诗歌残片可以看出当时莎孚周围的女孩崇拜临死的阿多尼斯。
                        他的化身是秋牡丹花。也有说其化身是银莲花。在古希腊神话里，玫瑰是凝聚着美神和植物神阿多尼斯的容颜，洋溢着爱神和美神维纳斯的津血而变成的。
                        阿多尼斯也是西方国家“花样美男”最早的出处，维纳斯和阿多尼斯的故事也体现了普通民众帅哥配美女的美好愿望。
                        一天，维纳斯偶然碰到身高九尺的阿多尼斯，一见倾心，便招呼他，希望和他谈一会；但阿多尼斯不愿接近异性，一口便拒绝了维纳斯的好意。
                        维纳斯只有用法力控制了他的行动，向他倾诉恋爱的奇妙，但阿多尼斯始终不为所动，更显出急欲摆脱她的神色。维纳斯用尽一切甜言蜜语，且愿意给予很多条件，
                        阿多尼斯最后用轻视的眼神望着爱神，令她大受刺激，晕倒地上。 阿多尼斯有点内疚，希望得到她的原谅，故此耐心等候维纳斯苏醒。
                        维纳斯醒来后，继续尽力说服阿多尼斯，但依然受到拒绝。爱神突然有个预感，阿多尼斯会遭遇不测，奉劝他不要冒险去打猎，让她在他的身边，保护他的安全；
                        但阿多尼斯并不相信，结果他真的于翌晨打猎时，被箭猪咬死。维纳斯赶到时，见爱郎已死，不禁悲恸欲绝。
                    </p>
                </div>
                <span style="width: 1000px;float: right">
        <img src="introduceImages/c.jpg" style="height: 400px">
    </span>
            </div>
            <hr>
        </el-main>
    </el-table>
    <el-footer>Footer</el-footer>
</el-container>
</div>
</body>
<script>
    let v = new Vue({
        el: '#app',
        data() {
            return {
                user:{},
                userArr:[],
                bannerArr:[],
                contentArr:[],
            }
        },
        created(){
            this.loadBanner()
        },
        methods:{
            handleDelete(index, row) {
                console.log(index, row);
            },
            handleSelect(key,keyPath){
                //key就是我们点击菜单栏时的index值
                v.currentIndex = key
            },
        }
    })
</script>
</html>