<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>雕塑介绍</title>
  <!-- 引入elementUI组件库的 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <style>
    body{
        margin: 0;
    }

    a{
        text-decoration: none;
    }
  </style>
</head>
<body>
<div id="app">
  <el-container>
    <!--            头部-->
    <el-header style="padding: 0">
      <el-row>
        <el-col span="3">
          <a href="./personal.html">
            <img src="./imgs/logo.jpg" style="width: 100%;height: 60px">
          </a>
        </el-col>
        <el-col span="21">
          <el-menu
                  :default-active="activeIndex1"
                  class="el-menu-demo"
                  mode="horizontal"
                  @select="handleSelect"
                  background-color="rgba(0,0,0,0.8)"
                  text-color="#fff"
                  active-text-color="#ffd04b">
            <el-menu-item index="1"><a href="homePage.html">首页</a></el-menu-item>
            <el-menu-item index="2"><a href="login.html">登录</a></el-menu-item>
            <el-menu-item index="3"><a href="reg.html">注册</a></el-menu-item>
            <el-menu-item index="4"><a href="category.html">雕像分类</a></el-menu-item>
            <el-menu-item index="5"><a href="mall.html">雕像商城</a></el-menu-item>
            <el-menu-item index="5"><a href="introduce.html">雕像展示</a></el-menu-item>
            <el-submenu index="6">
              <template slot="title">展览陈列</template>
              <el-menu-item index="6-1">临时展览</el-menu-item>
              <el-menu-item index="6-2">常设展览</el-menu-item>
              <el-menu-item index="6-3">虚拟展厅</el-menu-item>
            </el-submenu>
            <el-submenu index="7">
              <template slot="title">文化遗产</template>
              <el-menu-item index="7-1">考古发现</el-menu-item>
              <el-menu-item index="7-2">考古大事记</el-menu-item>
            </el-submenu>
            <el-submenu index="8">
              <template slot="title">学术研究</template>
              <el-menu-item index="8-1">雕塑研究文章</el-menu-item>
              <el-menu-item index="8-2">出版物</el-menu-item>
            </el-submenu>

            <el-menu-item index="9"><a href="./introduceDetail.html" style="text-decoration: none">文创精品</a></el-menu-item>
            <el-submenu index="10">
              <template slot="title">简体中文</template>
              <el-menu-item index="8-1">简体中文</el-menu-item>
              <el-menu-item index="8-2">English</el-menu-item>
            </el-submenu>
            <el-input placeholder="请输入搜索的关键字" v-model="wd" style="width: 230px;margin-top: 10px;
                            background-color: #7f7f7f">
              <el-button slot="append" icon="el-icon-search" @click="f()"></el-button>
            </el-input>
          </el-menu>
        </el-col>
      </el-row>
    </el-header>
    <el-main style="width: 1200px;margin: 0 auto;">
      <div v-for="(b,i) in Arr">
      <el-row v-if="currentIndex == b.id">

        <h3 >{{b.chineseName}}</h3>
        <span>基本信息</span>
        <el-divider></el-divider>
        <el-col span="16">
        <h5>中文名：{{b.chineseName}}</h5>
        <h5>英文名：{{b.foreignName}}</h5>
        <h5>作者：{{b.author}}</h5>
        <h5>所属国家：{{b.countries}}</h5>
        <h3 style="margin-top: auto">创作背景</h3>
        <p style="text-align: left">
          {{b.background}}
        </p>
          <h3>知识花絮</h3>
          <p style="text-align: left">
           {{b.influence}}
          </p>
        </el-col>
        <el-col span="8">
          <span class="wns" style="float: right;">
                <img :src="b.imgUrl" style="height: 400px;line-height: 400px;width: 200px" class="img">
                <img :src="b.imgUrls" style="height: 400px;line-height: 400px;width: 200px" class="img">
            </span>
        </el-col>
      </el-row>
      </div>
    </el-main>
    <!--        底部-->
    <el-footer style="background-color: #000000;height: 280px;padding: 50px 0">
      <div class="center" style="text-align: center;color: #666">
        <el-row id="foot">
          <el-col span="8">
            <img src="imgs/logo.jpg" style="width: 180px;height: 60px" alt="">
            <p>世界雕像就看博物院</p>
            <p>雕像展览网络社区平台</p>
            <p>全球著名文物雕像展览会</p>
          </el-col>
          <el-col span="8">
            <el-row id="foot_center">
              <el-col span="8">
                <h3>关于我们</h3>
                <p>关于我们</p><p>学术研究</p>
                <p>社会教育</p><p>分类信息</p>
              </el-col>
              <el-col span="8">
                <h3>支持与服务</h3>
                <p>联系我们</p><p>广告投放</p>
                <p>用户协议</p><p>友情链接</p>
              </el-col>
              <el-col span="8">
                <h3>底部导航</h3>
                <p>博物院地图</p>
                <p>搜索收藏</p>
                <p>文创精品</p>
              </el-col>
            </el-row>
          </el-col>
          <el-col span="8">
            <div style="font-size: 58px;margin-top: 30px">
              <span style="color: orange">世界</span><span style="color: #666666">博物院</span>
            </div>
            <p>雕像展览网络社区平台</p>
          </el-col>
        </el-row>
      </div>

    </el-footer>
  </el-container>
</div>
</body>
<!-- import Vue before Element -->
<script src="https://unpkg.com/vue@2/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script src="js/axios.min.js"></script>
<script>
  let v = new Vue({
    el: '#app',
    data() {
      return {
        currentIndex:1,
        Arr:[
          {id:1,chineseName:"维纳斯",foreignName:"Venus",author:"阿海山纳",countries:"法国",
          imgUrl:"introduceImages/维纳斯/a1.jpg",imgUrls:"introduceImages/维纳斯/a2.jpg",
          background:" 维纳斯起初是意大利本土的女神。她的名字可能是青菜的同义词。最初她是一种果园的精灵，使果园丰收。在庆祝维纳利亚节时，果园工人会放假。她的罗马别名穆耳忒亚，也许就源于拉丁语的山桃或番石榴树，代表了她果园女神的身份。同时她起初也是“神的恩惠”的人格化。\n" +
                  "          因为后期埃涅阿斯神话在罗马的流传，维纳斯被罗马人与希腊阿佛洛狄忒女神对应起来，因此维纳斯才在后期成为美与爱的女神。同时庞培修建了维纳斯·维克特里克斯神庙，维纳斯也被与胜利女神对应。同时埃及、近东的女神伊西斯、阿斯塔耳忒也被与维纳斯对应起来。\n" +
                  "          维纳斯有“慈悲的”、“清除罪恶的”、“马上的”、“落发的”等别名，代表了与高卢作战时，罗马妇女剪掉头发做绳子供军用。\n" +
                  "          因为后期受阿佛洛狄忒的影响，罗马也给维纳斯新造了一些相关传说",
          influence:"普西莎是一位美丽的公主。她的美貌甚至引起美神维纳斯的嫉妒。她命令儿子爱神去惩罚普西莎。然而，爱神却对普西莎一见钟情，并把她带到一个迷人的宫殿里。对这对恋人而言，一切似乎都尽善尽美。但是，普西莎没有遵守向爱神做出的承诺，爱神一怒之下弃她而去。\n" +
                  "            维纳斯对普西莎提出严峻考验，要求她前往冥界，带回装有美丽圣水的瓶子。普西莎在好奇心的驱使下，打开瓶子，吸入从中飘出的冥界之气，当场陷入死亡般的沉睡中。幸运的是，爱神及时赶到，用他的吻唤醒了普西莎。卡诺瓦的这座雕像正是再现了这一瞬间。\n" +
                  "            文艺复兴时期的雕塑家阿德里亚恩·德·弗里斯也以这个神话故事为题材，创作了续篇：在朱庇特的命令下，众神使者墨丘利将手中仍拿着美丽圣水瓶的普西莎带到天界，使其获得永生。通过这个神话故事，雕塑家以象征手法，借用墨丘利代表艺术，普西莎代表灵魂（“psyché”一词在希腊语中意为灵魂），\n" +
                  "            表达了艺术可将人类灵魂升华至永生境界的理念。",},
          {id:2,chineseName:"胜利女神",foreignName:"Goddess of Victory",author:"不详",countriess:"希腊",
            imgUrl:"introduceImages/胜利女神/e1.jpg",imgUrls:"introduceImages/胜利女神/e2.jpg",
            background:"《萨莫色雷斯岛的胜利女神》身姿轻盈，似乎在半空中飘浮。对于古希腊雕像，人们大多不知道其确切的来源地，但这座雕像是个例外。\n" +
                    "                            它最初作为献给神明的贡品，高高地伫立在希腊萨莫色雷斯岛的一座神庙中，正如它现在立于达鲁阶梯之上的情景。这座雕像展现了带翼的胜利女神尼凯飞降船头的瞬间。",
            influence:"继尚帕佐之后，许多考古学家都试图找到胜利女神的头部和手臂，但大多都无功而返。1875年，一支奥地利考古队发现了女神右手的大拇指和部分无名指。1950年，法国考古学家让·夏伯诺（Jean Charbonneaux）找到了手掌和无名指的另一部分。\n" +
                    "                            这些残片陈列在阶梯一侧的橱窗里。复原后的右手高27厘米，掌心朝天，摆出胜利的手势。"},
          {id:3,chineseName:"救世基督像",foreignName:"Christ the Redeemer",author:"保罗·兰多斯基",countries:"巴西",
            imgUrl:"introduceImages/救世基督像/i1.jpg",imgUrls:"introduceImages/救世基督像/i2.jpg",
            background:"在科科瓦多山上建造一座雕像的想法始于1850年代中期，那时一个天主教神父佩德罗·玛丽亚·博斯请求巴西帝国的伊莎贝尔公主筹措资金建造一座大型的宗教纪念物。伊莎贝尔公主对这个主意不是很在意，而当巴西在1889年成为共和国后，这个设想完全被政府否定，因为当时的法律强制规定必须政教分离。70多年后，\n" +
                    "                            到了1921年，建一个宗教地标的设想又一次被提出，这一次是里约热内卢大主教亲自提议的。\n" +
                    "                            大主教组织了一个叫“纪念像周”的活动来吸引捐款，还在全世界范围内搞了一次基督像竞赛，看谁能设计出最好的基督像。\n" +
                    "                            基督像的设计要求包括：必须有代表基督教的十字架，必须有一尊手持地球的耶稣基督像和一个象征世界的基座。\n" +
                    "                            最后，经过严格评比，法国纪念碑雕刻家保罗·兰多斯基赢得了比赛冠军，其设计的“救世基督展开双臂”的外形被最终认可。\n" +
                    "                            2006年10月12日，在塑像落成75周年庆典上，里约热内卢的总主教欧瑟比欧·奥斯卡·舍伊德枢机在塑像下为圣母显灵日做弥撒，并将这座基督像列为朝圣的圣地。",
            influence:"游客可以从公路或乘坐科科瓦多山铁路上山游览。以前列车到达终点后人们还需要爬上222级阶梯才能到达雕像，这对行动不便者和老年人是一大障碍。2002年的古迹大整修中，雕像附近安装了三座全景升降机和四座电扶梯。另外，从雅丁波卡尼科区的帕奎公园有条有点费力的捷径步道通往山顶。另一种上山方式则是包车，经过蜿延的山路穿越蒂竹卡丛林，到达山上狭小腹地的停车场，拥塞的情形可想而知，\n" +
                    "                            回程可顺道前往马塔夫人展望台(Dona Marte Belvedere)，由于它位于396公尺的山腰，不但可以较近的距离眺望里约美景，也可由另一个角度欣赏救世基督像，\n" +
                    "                            由于它绝佳的地点，所以成为许多广告商、名模的取景地点。"},
          {id:4,chineseName:"垂死的高卢人",foreignName:"The Dying Gaul",author:"不详",countries:"希腊",
            imgUrl:"introduceImages/垂死的高卢人/a1.jpg",imgUrls:"introduceImages/垂死的高卢人/a2.jpg",
            background:"公元前284年左右，阿塔罗斯一世在小亚细亚北部建立起了帕加马王国，后来成为后期希腊的经济、文化中心之一，并在公元前2世纪达到了鼎盛。在兴旺发达的社会条件下，其雕塑艺术也得到了很大的发展。公元前三世纪，希腊北部经常遭受蛮勇的加勒底人（高卢人）的侵袭，后来希腊人在小亚细亚一举击溃了加勒底人。\n" +
                    "                            为了纪念当时的战功，在希腊曾制作了一些加勒底人战败受伤、垂死的雕像，以夸耀希腊人的胜利。《垂死的高卢人》就是代表作之一。",
            influence:"垂死的高卢人是帕加摩斯和罗德岛流派的雕塑艺术领域中最主要的作品之一。罗德岛的艺术家们也创作了大量类似的作品，并保留了类似的风格。\n" +
                    "                            如群像《拉奥孔》就是这一风格得以延续的作品。"},
          {id:5,chineseName:"大卫",foreignName:"David",author:"米开朗基罗·博那罗蒂",countries:"意大利",
            imgUrl:"introduceImages/大卫/p1.jpg",imgUrls:"introduceImages/大卫/p2.jpg",
            background:"历史题材\n" +
                    "                            《大卫》取材于《旧约》中的神话故事。大卫是一个圣经中的人物，公元前1010年至970年是以色列王。他在位时推翻了异族非利士人的统治，使以色列得到统一。这位英雄在年轻时有一个精彩动人的故事。当时，以色列王扫罗在位。非利士人入侵以色列，非利士人中有一位武士，名叫哥利亚，身高八尺，头戴钢盔，身穿铠甲，力大无穷，在战场上所向披靡，以色列人死伤无数。哥利亚出战40余天，以色列人不敢出战。大卫的三个哥哥都到前线打仗了，他由于年幼不能参战，就去前线给哥哥们送饭。当大卫到达了前线时，他看到敌方的巨人哥利亚冲了上来，以色列人抵挡不住。这时，大卫满腔怒火要求出战，以雪民族之耻。扫罗王见大卫信心很大，就把自己的铠甲给他。大卫拒绝了盔甲，仍是一身牧童打扮，他率众走上战场，大声地痛骂哥利亚，等到哥利亚被骂的头昏脑胀时，大卫用甩石机甩出石头打昏了哥利亚。大卫冲上前去，拔出利刃割下了哥利亚的头，挽救了以色列。从此，少年大卫成了全国闻名的英雄。米开朗基罗没有沿用前人表现大卫战胜敌人后将敌人头颅踩在脚下的场景，而是选择了大卫迎接战斗时的状态。\n" +
                    "                            时代背景\n" +
                    "                            米开朗基罗从小便生活在意大利动荡不安的年代里，幼时母亲的离世和父亲暴躁的脾气给他带来了不小的打击和伤害，使他对生活充满了怀疑。米开朗基罗从小爱好绘画，却得不到家人的赞同，常因偷偷学习画画遭到父亲的毒打，但这并没有影响他热爱绘画坚定的态度，他坚持自己的选择最终成为一位艺术家。正是由于幼时的经历，使得他的雕塑人物都气度非凡，结实有力，企图通过雕塑得到一丝安慰。他的作品不仅仅是完全的写实，同时会进行想象的加工，这种独具风格的作品最终成为那个时代雕塑的典范，达到文艺复兴时期欧洲雕塑的最高峰。\n" +
                    "                            理论背景\n" +
                    "                            对立式平衡（contrapposto）是一个艺术性用语，它来源于意大利语中“对立位置”一词，指的是将大部分体重放在左右任意一条腿上的不对称站姿。这是古希腊雕刻家波留克列特斯（公元前5世纪）在追求理想的人体比例时所确立的，他将这个理论具象化后完成了《荷矛者》等作品。对立式平衡对之后的美术发展产生了很大的影响，古罗马也曾经沿用这个理论。在文艺复兴时期（14~16世纪），意大利很多艺术家又重新发现了这个理论。米开朗基罗的雕塑作品《大卫》也是利用对立式平衡理论创作出的作品。",
            influence:"《大卫》进一步推动了人文主义思潮的发展。\n" +
                    "                            《大卫》雕像体格雄伟健美，神情勇敢坚定，是一个外在和内在都体现着全部男性美的理想化身，这是文艺复兴时期人文主义思想的共同追求，是古希腊人体美的观念的进一步发挥，是反对宗教的虚伪、确立人的自由权和创造潜力的完整体现。因此，《大卫》对欧洲乃至整个世界都具有深远的历史意义。\n" +
                    "                            法国雕塑家罗丹受他的偶像米开朗基罗的雕塑《大卫》影响，创作出了雕塑《人性的觉醒》。\n" +
                    "                            意大利雕塑家、建筑家贝尔尼尼受到米开朗基罗的《大卫》影响，创作出了雕塑《大卫》。"},
        ]

      }
    },
    created(){
      // let id = location.search.split("=")[1]  //获取内容id
      // //根据id发送请求获取对应的内容信息
      // axios.get("/selectById?id="+id).then(function (response){
      //     v.statuesDo = response.data
      // })
      //获取地址栏中的这个id值
      axios.get("").then(function (){
        v.currentIndex = location.search.split("=")[1];
        console.log(v.currentIndex)
      })


    },
    methods:{
    }
  })
</script>
</html>